* {
    box-sizing: border-box;
    font-family: 'Apple SD Gothic Neo', sans-serif;
}

body {
    margin: 0;
}

button {
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    background: black;
    color: white;
    font-size: 16px;
}
